* {
    margin:auto;
    padding: 20px;
    align-content: center;
}
.navbar {
    width: 100%;
    overflow: auto;
    float: center;
      }
.navbar a {
    float: left;
    background-color: bisque;
    padding: 12px;
    color: #412803;
    text-decoration: black ;
    font-size: 30px;
    width: 25%; 
    text-align: center; }
header {
    margin-left: 20px;
    background-color:bisque;
    }

.locations { background-color: bisque;
    margin-top: 10em;
    font-size: 20px;
    font-family: cursive;
    font-style: oblique;
}
h1 {font-weight: 20px;
    font-size: 60px;
    text-align: center;
}

img { margin-left: 200px;
}
p, ul, ol, li {font-weight: 20px;
    font-size: 50px;
    text-align: center;
}
body{ margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
table, tr, td {
    text-align: center;
    border: 1px solid black;
    border-width: 3px;
    width: 100px;
    padding: 20px;
    margin-bottom: 50px;
    margin-left: 80px;
    
}
table{
    border-collapse: collapse;
}
form {
    width: 60%;
    border-style: solid;
    font-size: 20px;
    color:Black;
    border-width: 4px;
    border-color: black;
    background-color: silver;
    box-shadow: grey;
    margin-left: 80px;
    padding: 30px;
} 
tr:nth-child(even) { 
    background-color: lightgray
}
/* legend {
    padding: 10px;
} */
button {font-size: 20px;
    background-color: salmon;
    box-shadow: grey;
    margin-left: 500px;
    margin-bottom: 5px;
}
placeholder{
    text-align: center;
    font-size: 25px;
}
